body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myasidediv {
  position: absolute;
  right: 0;
  padding-top:114px;
  top: -57px;
  height: 100%;
  width: 25%;
  overflow-y: auto;
  border: solid black 1px;
  background-color: white;
  transition: right .3s ease-in-out;
}

.zindex1500 {
  z-index: 1500;
}

.asideform {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.dashboardformgroup{
  display: flex;
  justify-content: space-between;
}

.form-group input {
  flex: 2;
}
.form-group label {
  text-align: center;
  margin-left: 0px;
  flex:1;
}

.form-group button{
  flex: 1;
  margin: 5px;
}

.zindex1500 h4 {
  margin-top: 20px;
}

td input{
  width: 100%;
}